<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AliExpress</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>


<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/shuse">shoes</a>
  <a href="/cart">cart</a>
</div>





    <center>
<img src="https://static.wixstatic.com/media/e17b43_e6b8c5f2e78f42f9bcc1408d3de85904~mv2.png/v1/fill/w_2000,h_461,al_c/e17b43_e6b8c5f2e78f42f9bcc1408d3de85904~mv2.png" style="width:600px;height:200px; display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;">
  <p class="desc">AliExpress, is a platform for cheap and enjoyable shoping! Here you can find anything that you have ever dreamed of! </p> 
  <p class="desc">for example.......</p>
  <img id= 'shoeimg'src="https://cld.accentuate.io/5353320710301/1663094662150/Madrid_Heathered-Grey_Feature-Float-1380.png?v=1669223444554&options=w1000">
  <img id="make"src="https://cdn.britannica.com/35/222035-131-9FC95B31/makeup-cosmetics.jpg">
  <img id="j" src="https://media.glamour.com/photos/640b6adf030872a0052740a6/4:3/w_2664,h_1998,c_limit/affordable%20jewelry%20brands.jpg">
  <img id="cup"src="https://m.media-amazon.com/images/I/61pl01017mL._AC_SL1001_.jpg">
  </center>

</body> 
</html>